body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #161b22;
  color: #ffffff;
}

#particles-js {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

h2 {
  color: #ff5722;
}

nav {
  display: flex;
  padding: 10px 20px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

a:hover,
nav i:hover {
  color: #ff5722;
}

nav .icons {
  display: flex;
  gap: 20px;
}

nav .icons i {
  font-size: 40px;
}

.menu {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 44px 0px;
}

.principal {
  display: flex;
  color: #ffffff;
  padding: 114px 0%;
  align-items: center;
  gap: 2%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.principal-content {
  display: flex;
  flex-direction: column;
}

.principal-content h1 {
  font-family: Satoshi, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  margin: 0px;
}

.principal-content p {
  font-size: 28px;
}

.profile {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  background: url(https://github.com/MayconPadilha.png) center center;
  background-size: cover;
  position: relative;
}

.projetos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.projetos-header .filtros {
  display: flex;
  gap: 18px;
}

.projetos-header .filtros i {
  font-size: 24px;
}

.projetos-header .filtros i:hover {
  color: #ff5722;
}

.swiper {
  padding-top: 10px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #ff5722;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #00bcd4;
}

.swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  margin: 0 5px;
}

.card {
  width: 380px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border-radius: 8px;
  color: #161b22;
  margin-bottom: 2.4rem;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 20px;
}

.img-container {
  width: 100%;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
}

.img-container img {
  display: block;
  width: 100%;
  height: 50%;
  transition: transform 0.5s ease;
}

.img-container:hover img {
  transform: scale(1.2);
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}

.card i {
  font-size: 24px;
  margin-bottom: 8px;
  color: #333;
  border: solid 3px #ff5722;
  border-radius: 50% 50%;
  padding: 10px;
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #ff5722;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ff5722 transparent transparent transparent;
}

.card i:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.container-tecnologias {
  background: #bdc3c7;
  position: relative;
}

.tecnologias .tecnologias-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
}

.tecnologias .tecnologias-list li {
  display: inline-block;
  list-style-type: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tecnologias .tecnologias-list li:hover {
  transform: translateY(-10px);
}

#sobre p {
  font-size: 21px;
}

@media screen and (max-width: 1300px) {

  section {
    margin: 0 auto;
    padding: 1% 5% 5% 5%;
  }

}

@media screen and (max-width: 800px) {
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  nav a {
    font-size: 21px;
  }

  .principal {
    display: flex;
    padding: 50px 0%;
    flex-direction: column-reverse;
    gap: 18px;
  }

  .principal-content h1 {
    font-size: 42px;
  }

  .principal-content h2 {
    font-size: 25px;
  }

  .profile {
    height: 160px;
    width: 160px;
  }

  .card {
    width: 100%;
  }

  #sobre p {
    font-size: 17px;
    line-height: 24px;
  }
}